*: not(#preview *){
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

html,body,body>.row,.full-height{
    height: 100%;
    overflow: hidden;
}
.no-margin{
    margin: 0px !important;
}
.form-group {
    margin-bottom: 5px;
}
.form-control{
    background-color: #485563;
    color: white;
    height: 29px;
    padding: 4px 8px;
}
.dropdown-menu{
    border: #2A3D50 solid 1px;
}
textarea{
    resize: vertical;
}
.modal-xl{
    width: 90%;
}
.btn.zeroclipboard-is-hover{
    background-color: #31b0d5;
}

#editor {
    /* for IE10+ touch devices */
    touch-action:none;
    overflow: visible; 
    position: relative;
}

#editor .effect {
    width: 200px;
    z-index: 20;
    position: absolute;
    opacity: .8;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.48);
    border: 2px dashed transparent;
}

#editor .effect.selected {
    border: 2px dashed #528705;
}

#editor .effect .panel-heading{
    cursor: move;
}

#editor .effect .panel-body{
    padding-right: 10px;
}

#editor .effect .btn-group>.btn{
    color: #7ab02c;
}

#editor .effect .dropdown-menu{
    top: 20px;
    right: 10px;
    left: 10px;
}

#editor .effect.collapsed .effect-inputs,#editor .effect.collapsed .effect-outputs{
    overflow: hidden;
}

#editor .effect.collapsed .effect-inputs,#editor .effect.collapsed .effect-outputs,
#editor .effect.collapsed .effect-inputs>*,#editor .effect.collapsed .effect-outputs>*{
    height: 0px;
    margin: 0px;
    padding: 0px;
}

#editor ._jsPlumb_connector {
    z-index: 4;
}

#editor ._jsPlumb_endpoint, .endpointTargetLabel, .endpointSourceLabel {
    z-index: 21;
    cursor: pointer;
}

path, ._jsPlumb_endpoint {
    cursor: pointer;
}

.effect-input{
    text-align: left;
}
.effect-output{
    text-align: right;
}

#export pre{
    -webkit-touch-callout: all;
    -webkit-user-select: all;
    -khtml-user-select: all;
    -moz-user-select: -moz-all;
    -ms-user-select: all;
    user-select: all;
    height: auto;
    word-wrap: normal;
    background-color: white;
    border: none;
}

#editor .effect:nth-child(1){
    top: 20%;
    left: 10%;
}

#editor .effect:nth-child(8){
    top: 25%;
    left: 75%;
}

.matrix-size-input .matrix{
    margin: auto;
    margin-top: 10px;
}
.matrix-size-input .matrix input{
    width: 2em;
    text-align: center;
    padding: 0px;
    font-weight: bold;
}