*{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

html,body,body>.row,.full-height{
    height: 100%;
    overflow: hidden;
}
.no-margin{
    margin: 0px !important;
}
.form-group {
    margin-bottom: 5px;
}
.form-control{
    background-color: #485563;
    color: white;
    height: 29px;
    padding: 4px 8px;
}
.dropdown-menu{
    border: #2A3D50 solid 1px;
}
textarea{
    resize: vertical;
}

#editor {
    /* for IE10+ touch devices */
    touch-action:none;
    overflow: visible; 
    position: relative;
}

#editor .effect {
    width: 200px;
    z-index: 20;
    position: absolute;
    opacity: .8;
}

#editor .effect .panel-body{
    padding-right: 10px;
}

#editor .effect .btn-group>.btn{
    color: #7ab02c;
}

#editor .effect .dropdown-menu{
    top: 20px;
    right: 10px;
    left: 10px;
}

#editor .effect.collapsed .effect-inputs,#editor .effect.collapsed .effect-outputs{
    overflow: hidden;
}

#editor .effect.collapsed .effect-inputs,#editor .effect.collapsed .effect-outputs,
#editor .effect.collapsed .effect-inputs>*,#editor .effect.collapsed .effect-outputs>*{
    height: 0px;
    margin: 0px;
    padding: 0px;
}

#editor ._jsPlumb_connector {
    z-index: 4;
}

#editor ._jsPlumb_endpoint, .endpointTargetLabel, .endpointSourceLabel {
    z-index: 21;
    cursor: pointer;
}

path, ._jsPlumb_endpoint {
    cursor: pointer;
}

.effect-input{
    text-align: left;
}
.effect-output{
    text-align: right;
}

#export pre{
    -webkit-touch-callout: all;
    -webkit-user-select: all;
    -khtml-user-select: all;
    -moz-user-select: -moz-all;
    -ms-user-select: all;
    user-select: all;
    height: auto;
    word-wrap: normal;
}


.dropdown-submenu {
    position: relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
}