<div id="editor-position" class="full-height editor-controls">
    <div class="editor full-height" id="editor">
        <!-- effects -->
    </div>
</div>

<!-- header -->
<div id="top-left" style="padding-right: 0;">
    <toolbar></toolbar>
</div>
<div id="top-right" style="padding-left: 0;">
    <preview></preview>
</div>

<!-- footer -->
<nav id="footer" class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
        <li data-bind="click: $root.toggle(gooEnabled), css: {active: gooEnabled}"><a href="#">Goo Effect</a></li>
        <li><a id="center-view" href="#"><i class="fa fa-plus-square-o"></i> Center View</a></li>
    </ul>
    <!-- <div class="navbar-form navbar-right">
        <div class="form-group">
            <div class="input-group" style="margin: 3px;">
                <span class="input-group-addon">Zoom</span>
                <input type="number" class="form-control" step="0.01" data-bind="value: editor.zoom.zoomLevel, valueUpdate: 'input'">
            </div>
        </div>
    </div> -->
</nav>

<div class="modal fade" id="import" data-bind="with: importFilter">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="btn btn-danger btn-sm pull-right" data-dismiss="modal">Close</a>
                <h4 class="modal-title">Import</h4>
            </div>
            <div class="modal-body">
               <textarea class="form-control" data-bind="value: data"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm" data-bind="click: importFilter" data-dismiss="modal">Import</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="help">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="btn btn-danger btn-sm pull-right" data-dismiss="modal">Close</a>
                <a href="http://www.w3.org/TR/SVG/filters.html" target="_blank" class="btn btn-info btn-sm pull-right">Open in browser</a>
                <h4 class="modal-title">SVG Filter Help</h4>
            </div>
            <div class="modal-body">
                <iframe src="help/index.html#testing" width="100%" height="800" seamless style="border:none;" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-top-navigation"></iframe>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit-position" data-backdrop="static">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="btn btn-danger btn-sm pull-right" data-dismiss="modal">Close</a>
                <a href="#" class="btn btn-success btn-sm pull-right save" data-dismiss="modal">Save</a>
                <a href="#" class="btn btn-info btn-sm pull-right reset" data-dismiss="modal">Reset</a>
                <h4 class="modal-title">Edit Position</h4>
            </div>
            <div class="modal-body">
                <svg id="edit-position-svg" style="width: 100%;height: auto;"></svg>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="input-group">
                            <span class="input-group-addon">X</span>
                            <input type="number" class="form-control input-pos-x">
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="input-group">
                            <span class="input-group-addon">Width</span>
                            <input type="number" class="form-control input-pos-width">
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="input-group">
                            <span class="input-group-addon">Y</span>
                            <input type="number" class="form-control input-pos-y">
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="input-group">
                            <span class="input-group-addon">Height</span>
                            <input type="number" class="form-control input-pos-height">
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="load-filter">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Load</h4>
            </div>
            <div class="modal-body">
                <ul class="list-group" data-bind="foreach: $root.filters.filters">
                    <li href="#" class="list-group-item">
                        <div class="pull-right">
                            <small data-bind="text: new Date(saved).toDateString()"></small>
                            <div class="btn-group btn-group-xs">
                                <button type="button" class="btn btn-success" data-bind="click: $root.filters.load.bind(undefined,$data)" data-dismiss="modal">Load</button>
                                <button type="button" class="btn btn-danger" data-bind="click: $root.set($root.filters.removeID,id)" data-toggle="modal" data-target="#remove-confirm">Remove</button>
                            </div>
                        </div>
                        <h3 class="list-group-item-heading" style="cursor: pointer" data-bind="text: name, click: $root.filters.load.bind(undefined,$data)" data-dismiss="modal"></h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="load-confirm">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirm</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to load a Filter.
                You have unsaved data
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal" data-bind="click: $root.set(filters.loadFilter,true)">Continue</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="remove-confirm">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirm</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to remove this filter?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" data-bind="click: $root.filters.removeFilter">Remove</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="new-confirm">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirm</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to create a new Filter.
                You have unsaved data
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal" data-bind="click: $root.set($root.filters.newFilter,true)">Continue</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="save-as">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Save As</h4>
            </div>
            <div class="modal-body">
                <label>Name</label>
                <input type="text" class="form-control" data-bind="value: $root.filters.save.name">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success btn-sm" data-bind="click: $root.filters.save.save" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>

<div id="temp" style="display: none;">
    <div class="effect panel panel-default">
        <div class="panel-heading">
            <button type="button" class="btn btn-xs btn-default dropdown-toggle options pull-right" data-toggle="dropdown"><i class="fa fa-bars"></i></button>
            <button type="button" class="btn btn-xs btn-default toggle pull-right"><i class="fa fa-chevron-down"></i></button>
            <ul class="dropdown-menu"></ul>
            <span class="effect-title"></span>
        </div>
        <div class="panel-body">
            <!-- inputs / outputs go here -->
            <div class="effect-inputs"></div>
            <div class="effect-outputs"></div>
        </div>
        <a class="btn btn-warning btn-sm preview"><i class="fa fa-eye-slash"></i></a>
    </div>
    <div class="form-group effect-input">
        <span class="effect-title">Input</span>
    </div>
    <div class="form-group effect-output">
        <span class="effect-title">Output</span>
    </div>
    <div class="form-group color-input">
        <span class="effect-title"></span>
        <input type="color" class="form-control effect-input-control">
    </div>
    <div class="form-group number-input">
        <span class="effect-title"></span>
        <input type="number" class="form-control effect-input-control">
    </div>
    <div class="form-group range-input">
        <span class="effect-title"></span> (<span class="feedback"></span>)
        <input type="range" class="form-control effect-input-control">
    </div>
    <div class="form-group text-input">
        <span class="effect-title"></span>
        <input type="text" class="form-control effect-input-control">
    </div>
    <div class="form-group select-input">
        <span class="effect-title"></span>
        <select class="form-control effect-input-control"></select>
    </div>
    <div class="form-group matrix-input">
        <span class="effect-title"></span>
        <textarea class="form-control effect-input-control"></textarea>
    </div>
    <div class="form-group matrix-size-input">
        <span class="effect-title"></span>
        <table class="matrix">
            <tbody class="effect-input-control">
            </tbody>
        </table>
    </div>
    <div class="form-group xy-input">
        <span class="effect-title"></span>
        <div>
            <input type="number" class="form-control x-input effect-input-control" style="margin-right: 5px; width: calc(50% - 10px); display: inline-block;">
            <input type="number" class="form-control y-input effect-input-control" style="margin-left: 5px; width: calc(50% - 10px); display: inline-block;">
        </div>
    </div>
    <div class="form-group funcrgba-input">
        <span class="effect-title"></span>
        <select class="form-control pull-right input-type" style="width: 50%;display: inline-block;height: 22px;padding: 0px;margin: 0px;">
            <option value="identity">identity</option>
            <option value="table">table</option>
            <option value="discrete">discrete</option>
            <option value="linear">linear</option>
            <option value="gamma">gamma</option>
        </select>
        <button type="button" class="btn btn-info btn-xs pull-right type type-table type-discrete add-table-index"><i class="fa fa-plus"></i></button>
        <button type="button" class="btn btn-info btn-xs pull-right type type-table type-discrete remove-table-index"><i class="fa fa-minus"></i></button>
        <table class="table input-table effect-input-control type type-table type-discrete" style="margin: 0px;">
            <thead>
                <tr>
                </tr>
            </thead>
            <tbody>
                <tr>
                </tr>
            </tbody>
        </table>
        <div class="type type-gamma" style="padding-top: 5px;">
            <div class="input-group">
                <span class="input-group-addon">amplitude</span>
                <input type="number" class="form-control input-amplitude" step="0.1">
            </div>
            <div class="input-group">
                <span class="input-group-addon">exponent</span>
                <input type="number" class="form-control input-exponent" step="0.1">
            </div>
            <div class="input-group">
                <span class="input-group-addon">offset</span>
                <input type="number" class="form-control input-offset" step="0.1">
            </div>
        </div>
        <div class="type type-linear" style="padding-top: 5px;">
            <div class="input-group">
                <span class="input-group-addon">slope</span>
                <input type="number" class="form-control input-slope" step="0.1">
            </div>
            <div class="input-group">
                <span class="input-group-addon">intercept</span>
                <input type="number" class="form-control input-intercept" step="0.1">
            </div>
        </div>
    </div>
    <div class="form-group image-input">
        <span class="effect-title"></span>
        <input class="form-control effect-input-control" type="image">
    </div>
    <div class="form-group muti-select-input">
        <span class="effect-title"></span>
        <div class="effect-input-control"></div>
    </div>
</div>
