<nav class="navbar navbar-default" role="navigation" style="margin: 0px;">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" data-toggle="tooltip" data-placement="bottom" title="Show Welcome modal">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" data-toggle="modal" href="#welcome-modal">Filtered</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <!-- load/save -->
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">File <b class="caret"></b></a>
                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                    <li><a href="#" data-bind="click: $root.set(filters.newFilter,false)"><i class="fa fa-plus"></i> New</a></li>
                    <li><a data-toggle="modal" href="#load-filter-modal"><i class="fa fa-folder-open-o"></i> Load</a></li>
                    <li><a href="#" data-bind="click: $root.filters.saveFilter"><i class="fa fa-floppy-o"></i> Save</a></li>
                    <li><a data-toggle="modal" href="#save-as"><i class="fa fa-floppy-o"></i> Save As</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a data-toggle="modal" href="#export" data-bind="click: exportFilter.export"><i class="fa fa-check"></i> Export</a></li>
                    <li><a data-toggle="modal" href="#examples"><i class="fa fa-flask"></i> Examples</a></li>
                    <li><a data-toggle="modal" href="#help"><i class="fa fa-question"></i> Help</a></li>
                </ul>
            </li>

            <!-- add -->
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Add <b class="caret"></b></a>
                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                    <li data-toggle="tooltip" data-placement="right" *ngFor="#effect of prebuiltEffects">
                        <a (click)="createEffect(effect)">{{effect.name}}</a>
                    </li>
                </ul>
            </li>

            <!-- add basic -->
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Add Basic <b class="caret"></b></a>
                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                    <li data-toggle="tooltip" data-placement="right" *ngFor="#effect of baseEffects">
                        <a (click)="createEffect(effect)">{{effect.name}}</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <!-- <li><a data-toggle="modal" href="#import"><i class="fa fa-folder-open"></i> Import</a></li> -->
            <li><a data-toggle="modal" href="#export-modal" data-bind="click: exportFilter.export"><i class="fa fa-check"></i> Export</a></li>
            <li><a data-toggle="modal" href="#examples-modal"><i class="fa fa-flask"></i> Examples</a></li>
            <li><a data-toggle="modal" href="#help"><i class="fa fa-question"></i> Help</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>

<!-- welcome modal -->
<div class="modal fade" id="welcome-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content yes-select">
            <div class="modal-header">
                <a href="#" class="btn btn-danger btn-sm pull-right" data-dismiss="modal">Close</a>
                <h2 class="modal-title"><b>Filtered</b> <small>Simple Svg Filter builder</small></h2>
            </div>
            <div class="modal-body">
                <welcome [title]="false"></welcome>
            </div>
        </div>
    </div>
</div>

<!-- examples modal -->
<div class="modal fade" id="examples-modal" data-bind="with: examples">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="btn btn-danger btn-sm pull-right" data-dismiss="modal">Close</a>
                <h4 class="modal-title">Examples</h4>
            </div>
            <div class="modal-body">
                <examples></examples>
            </div>
        </div>
    </div>
</div>

<!-- export modal -->
<div class="modal fade" id="export-modal" data-bind="with: exportFilter">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="btn btn-danger btn-sm pull-right" data-dismiss="modal">Close</a>
                <h4 class="modal-title">Export</h4>
            </div>
            <div class="modal-body">
                <export></export>
            </div>
        </div>
    </div>
</div>

<!-- load modal -->
<div class="modal fade" id="load-filter-modal">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Load</h4>
            </div>
            <div class="modal-body">
                <load-filter></load-filter>
            </div>
        </div>
    </div>
</div>
