svg{
    background-color: #485563;
}
a[data-toggle="collapse"]:hover, a[data-toggle="collapse"]:focus{
    text-decoration: none;
}
.panel-heading{
    cursor: pointer;
}
.panel {
    margin: 0px 0px 5px 0px;
    height: 100%;
}

#toggle-button{
    position: absolute;
    left: 0;
    padding: 0px 15px 5px 15px;
    line-height: 0;
}
