html,body,.full-height{
    height: 100%;
    overflow: hidden;
}
.no-margin{
    margin: 0px !important;
}
.form-group {
    margin-bottom: 5px;
}
.form-control{
    background-color: #485563;
    color: white;
    height: 29px;
    padding: 4px 8px;
}
.dropdown-menu{
    border: #2A3D50 solid 1px;
}
textarea{
    resize: vertical;
}
.modal-xl{
    width: 90%;
}
.copy.zeroclipboard-is-hover{
    background-color: #31b0d5;
}
.svg_select_points_rot{
    display: none;
}
input[type="image"]{
    color: transparent;
    padding: 0pc;
    border: 0px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
}
*:focus{
    outline: none !important;
}

#top-left{
    position: absolute;
    top: 0;
    left: 0;
    width: 70vw;
}
#top-right{
    position: absolute;
    top: 0;
    right: 0;
    width: 30vw;
}

#editor {/* for IE10+ touch devices */
    touch-action:none;
    overflow: visible;
    position: relative;
    width: 0;
    height: 0;
    /*border: 20px solid red;
    border-radius: 50%;*/
}

#editor .effect {
    width: 200px;
    z-index: 20;
    position: absolute;
    opacity: .8;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.48);
    border: 2px dashed transparent;
    margin: 0px;
}

#editor .effect.selected {
    border: 2px dashed #f0ad4e;
}

#editor .effect .preview{
    width: 24px;
    height: 24px;
    position: absolute;
    right: -2px;
    top: -26px;
    padding: 2px;
    color: black;

    display: none;
}
#editor .effect.selected .preview{
    display: block;
}

#editor .effect .panel-heading{
    cursor: move;
}

#editor .effect .panel-body{
    padding-right: 10px;
}

#editor .effect .btn-group>.btn{
    color: #7ab02c;
}

#editor .effect .dropdown-menu{
    top: 20px;
    right: 10px;
    left: 10px;
}

#editor .effect.collapsed .effect-inputs,#editor .effect.collapsed .effect-outputs{
    overflow: hidden;
}

#editor .effect.collapsed .effect-inputs,#editor .effect.collapsed .effect-outputs,
#editor .effect.collapsed .effect-inputs>*,#editor .effect.collapsed .effect-outputs>*{
    height: 0px;
    margin: 0px;
    padding: 0px;
}

#editor ._jsPlumb_connector {
    z-index: 4;
}

#editor ._jsPlumb_endpoint, .endpointTargetLabel, .endpointSourceLabel {
    z-index: 21;
    cursor: pointer;
}

path, ._jsPlumb_endpoint {
    cursor: pointer;
}

.effect-input{
    text-align: left;
}
.effect-output{
    text-align: right;
}

#export pre{
    -webkit-touch-callout: all;
    -webkit-user-select: all;
    -khtml-user-select: all;
    -moz-user-select: -moz-all;
    -ms-user-select: all;
    user-select: all;
    height: auto;
    word-wrap: normal;
    background-color: white;
    border: none;
    color: black;
}
#export pre.wrap{
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

#editor .effect:nth-child(1){
    top: -100px;
    left: -200px;
}

#editor .effect:nth-child(8){
    top: 0px;
    left: 300px;
}

.matrix-size-input .matrix{
    margin: auto;
    margin-top: 10px;
}
.matrix-size-input .matrix input{
    width: 2em;
    text-align: center;
    padding: 0px;
    font-weight: bold;
}

#preview svg{
    background-color: #485563;
}
#preview a[data-toggle="collapse"]:hover, #preview a[data-toggle="collapse"]:focus{
    text-decoration: none;
}
#preview .panel-heading{
    cursor: pointer;
}
#preview .panel {
    margin: 0px 0px 5px 0px;
}
#preview .image-change{
    position: absolute;
    right: 30px;
    transition: all .2s;
    opacity: 0;
}
#preview:hover .image-change{
    opacity: 1;
}

#preview-toggle-button{
    position: absolute;
    left: 0;
    padding: 0px 15px 5px 15px;
    line-height: 0;
}

.funcrgba-input .input-table input[type=text]::-webkit-inner-spin-button,
.funcrgba-input .input-table input[type=text]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.funcrgba-input .input-table input[type=text]{
    margin: 0px;
    padding: 0px 0px 0px 5px;
    height: 24px;
    border: none;
    text-align: center;
}
.funcrgba-input .input-table input[type=text].invert{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.matrix-size-input .matrix input {
    border: none;
    padding: 2px;
}

#edit-light canvas{
    width: 100% !important;
    height: auto !important;
}

.goo{
    -webkit-filter: url(#goo);
    filter: url(#goo);
}
.goo ._jsPlumb_connector:not(._jsPlumb_hover)>path {
    stroke: #485563;
}
.goo .effect{
    box-shadow: none !important;
}

#footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin: 0px;
}
