.form-group {
    margin-bottom: 5px;
}
.form-control{
    background-color: #485563;
    color: white;
    /*height: 29px;*/
    padding: 4px 8px;
}
.dropdown-menu{
    border: #2A3D50 solid 1px;
}
textarea{
    resize: vertical;
}
.modal-xl{
    width: 90%;
}
a{
    cursor: pointer;
}
*:focus{
    outline: none !important;
}
