<div id="preview" class="panel panel-default">
    <div class="panel-heading">
        <a class="btn btn-info btn-xs pull-right" href="http://rdfriedl.github.io/" target="_blank">Created by Rdfriedl</a>
        <h4 class="panel-title"><a data-toggle="collapse" href="#preview-collapse">Preview</a></h4>
    </div>
    <div id="preview-collapse" class="panel-collapse collapse in">
        <div class="panel-body">
            <button type="button" class="btn btn-default image-change" data-bind="visible: mode() == 'image', click: image.change">Change</button>

            <svg id="preview-svg">
                <defs>
                    <filter id="goo">
                        <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
                        <feBlend in="SourceGraphic" in2="goo" />
                    </filter>
                </defs>
            </svg>

            <div class="btn-group btn-group-justified">
                <a class="btn btn-default" data-bind="click: $root.set(mode,'text'), css:{active: mode() == 'text'}">Text</a>
                <a class="btn btn-default" data-bind="click: $root.set(mode,'image'), css:{active: mode() == 'image'}">Image</a>
            </div>

            <!-- text -->
            <div data-bind="with: text, visible: $root.editor.preview.mode() == 'text'">
                <div class="form-group">
                    <label>Text</label>
                    <input type="text" class="form-control" data-bind="value: text, valueUpdate: 'input'">
                </div>
                <div class="form-group">
                    <label>Color</label>
                    <input type="color" class="form-control" data-bind="value: color, valueUpdate: 'input'">
                </div>

                <!-- font -->
                <div class="panel panel-default" data-bind="with: font">
                    <div class="panel-heading" id="headingOne">
                        <h4 class="panel-title">
                            <i class="fa fa-minus pull-right"></i>
                            <a data-toggle="collapse" href="#font-collapse">Font</a>
                        </h4>
                    </div>
                    <div id="font-collapse" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group">
                                <label>Font</label>
                                <select class="form-control" data-bind="foreach: fonts, value: font">
                                    <option data-bind="value: $data, text: $data"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Weight</label>
                                <select class="form-control" data-bind="foreach: weights, value: weight">
                                    <option data-bind="value: $data, text: $data"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Size</label>
                                <input type="number" class="form-control" data-bind="value: size, valueUpdate: 'input'">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- stroke -->
                <div class="panel panel-default" data-bind="with: stroke">
                    <div class="panel-heading" id="headingOne">
                        <h4 class="panel-title">
                            <i class="fa fa-minus pull-right"></i>
                            <a data-toggle="collapse" href="#stroke-collapse">Stroke</a>
                        </h4>
                    </div>
                    <div id="stroke-collapse" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group">
                                <label>Color</label>
                                <input type="color" class="form-control" data-bind="value: color, valueUpdate: 'input'">
                            </div>
                            <div class="form-group">
                                <label>Size</label>
                                <input type="number" class="form-control" data-bind="value: size, valueUpdate: 'input'">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button id="preview-toggle-button" class="btn btn-default" data-toggle="collapse" data-target="#preview-collapse"><i class="fa fa-angle-double-up"></i></button>
</div>
